.App {
    text-align: center;
    text-align: center;
    margin: 5px;
  }
  
  
  .body{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: calc(10px + 2vmin);
    color: white;
    line-height: 00.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .balanceDetails{
    margin-top: -15px;
  }
 
  .balance{
    line-height: 0em;
    text-align: center;
    justify-content: center;
    margin-top: 0em;
  }
  .accountDetails{
    text-align: left;
    display: flex;
    border:1px solid white;
    width: 300px;
    margin: 5px;
  }
  .accountDetails > div{
    margin-right: 25px;
    margin-left: 30px;
    margin-top: 10px;
    padding: 0px;
    text-align: center;

  }
  .Inc{
    line-height: 0.5em;
  }
  .Exp{
    line-height: 0.5em;
  }
  .transactionHistory{
    text-align: center;
    justify-content: center;
  }
  .history{
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
  }
  .history li {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 5px 0;
    width: 280px;

  }
  .history li.incomeHistory {
    border-right: 5px solid  #aa9845;
    font-size: small;
  }
  .history li.incomeHistory:hover {
    border-right: 5px solid #aa9845;
    background-color: #b6960a;
    color: #f7f7f7
  }
  .history li.expenseHistory {
    border-right: 5px solid #205257;
    font-size: small;
  }
  
  .history li.expenseHistory:hover {
    border-right: 5px solid #205257;
    background-color: #2da3ad;
    color: #f7f7f7
  }
  .delete-btn {
    cursor: pointer;
    background-color: floralwhite;
    border: 0;
    color:teal;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .history li:hover .delete-btn {
    opacity: 1;
  }
  .Add_Tran{
    margin-top: -15px;
  }
  .form-control{
    margin-left: 0px;
  }
  label {
    display: inline-block;
    margin: 10px 0;
    font-weight: bold;
    float: left;
    line-height: 0.5em;
    font-size: 18px;
  }
  
  input[type='text'],
  input[type='number'] {
    border: 1px solid #dedede;
    border-radius: 5px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 92%;
    
  }
  .addtrans_btn{
    cursor: pointer;
    background-color:darkturquoise;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 12px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
  }
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  